.login {
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: black;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid black;
  background-color: white;
}

.control input:focus {
  outline: none;
  border-color: blue;
  background: white;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}


.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  border: none;
  padding: 0.15rem 1.5rem;
}


@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }

}
